In [1]:
import pandas as pd

df= pd.read_csv("yelp_user.csv")

In [2]:
column_names = [i for i in df.columns]
print(column_names)

['user_id', 'name', 'review_count', 'yelping_since', 'friends', 'useful', 'funny', 'cool', 'fans', 'elite', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']

In [3]:
#Drop columns
df = df.drop(['friends'],axis =1)

In [4]:
df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,fans,elite,average_stars,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,0,0,0,0,None,3.70,...,0,0,0,0,0,0,0,0,0,0
1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,0,0,0,0,None,2.00,...,0,0,0,0,0,0,0,0,0,0
2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,0,0,0,0,None,4.67,...,0,0,0,0,0,0,0,0,0,0
3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,0,0,0,0,None,4.67,...,0,0,0,0,0,0,0,0,0,0
4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,4,0,0,0,None,3.45,...,0,0,0,0,0,0,0,0,1,0

In [5]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_user
(user_id varchar(22),
name varchar(255),
review_count integer,
yelping_since date,
useful integer, 
funny integer,
cool integer,
fans integer,
elite varchar(76), 
average_stars integer, 
compliment_hot integer, 
compliment_more integer, 
compliment_profile integer,
compliment_cute integer, 
compliment_list integer,
compliment_note integer, 
compliment_plain integer, 
compliment_cool integer, 
compliment_funny integer, 
compliment_writer integer,
compliment_photos integer);''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully
Table created successfully

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
  
  
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_user', con=conn, if_exists='replace',index=False)

100