In [1]:
import pandas as pd

df= pd.read_csv("yelp_business_hours.csv")

In [2]:
df.head()

,business_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,FYWN1wneV18bWNgQjJ2GNg,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,None,None
1,He-G7vWjzVUysIKrfNbPUQ,9:0-20:0,9:0-20:0,9:0-20:0,9:0-20:0,9:0-16:0,8:0-16:0,None
2,KQPW8lFf1y5BT2MxiSZ3QA,None,None,None,None,None,None,None
3,8DShNS-LuFqpEWIp0HxijA,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,11:0-19:0
4,PfOCPjBrlQAnz__NXj9h_w,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-2:0,11:0-0:0

In [3]:
column_names = [i for i in df.columns]
print(column_names)

['business_id', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [4]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_business_hours
(business_id varchar(50), 
monday varchar(20),
tuesday varchar(20), 
wednesday varchar(20), 
thursday varchar(20), 
friday varchar(20), 
saturday varchar(20), 
sunday varchar(20));''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully
Table created successfully

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
  
  
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_business_hours', con=conn, if_exists='replace',index=False)

567