In [1]:
import pandas as pd

df= pd.read_csv("yelp_user.csv")

In [15]:
column_names = [i for i in df.columns]
print(column_names)

['user_id', 'name', 'review_count', 'yelping_since', 'friends', 'useful', 'funny', 'cool', 'fans', 'elite', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']

In [1]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_user
(user_id varchar(50),
name char(50),
review_count integer,
yelping_since date,
friends varchar(100),
useful integer, 
funny integer,
cool integer,
fans integer,
elite integer, 
average_stars integer, 
compliment_hot integer, 
compliment_more integer, compliment_profile integer, compliment_cute integer, compliment_list integer,
compliment_note integer, compliment_plain integer, compliment_cool integer, compliment_funny integer, compliment_writer integer,
compliment_photos integer);''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully

DuplicateTable: relation "yelp_user" already exists

In [7]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
  
  
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_user', con=conn, if_exists='replace',index=False)

100