In [7]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [8]:
df= pd.read_csv("yelp_review.csv")

In [9]:
df.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [10]:
column_names = [i for i in df.columns]
print(column_names)

['review_id', 'user_id', 'business_id', 'stars', 'date', 'text', 'useful', 'funny', 'cool']

In [11]:
conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE Review
(review_id varchar(22),
 user_id varchar(22),
 business_id varchar(22),
 stars integer,
 Date date,
 text Text,
 useful integer,
 funny integer,
 cool integer);''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully
Table created successfully

In [ ]:
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('Review', con=conn, if_exists='replace',index=False)
conn.close()